<form action="/api/Employees" method="POST" id="add_Employee">
    <div class="new_Employee">
        <div class="form-group">
            <div class="input inline">
                <label for="EmployeeNumber" class="text-light">Employee Number</label>
                <input type="hidden" name="id" value="">
                <input type="text" name="EmployeeNumber" value="" placeholder="Enter Number">
            </div>
            <div class="input inline">
                <label for="EmployeeName" class="text-light">Employee Name</label>
              
                <input type="text" name="EmployeeName" value="" placeholder="Enter Name">
            </div>
            <div class="input inline">
                <label for="Speciality" class="text-light">Speciality
                </label>
              
                <input type="text" name="Speciality " value="" placeholder="Enter Speciality ">
            </div>
        </div>

        <div class="form-group">
            <div class="input inline">
                <label for="Cost_Center" class="text-light">Cost Center</label>
               
                <input type="text" name="Cost_Center" value="" placeholder="Enter Cost Center">
            </div>
            <div class="input inline">
                <label for="Job" class="text-light">
                    Job</label>     
                <input type="text" name="Job" value="" placeholder="Enter Job">
            </div>

            <div class="input inline">
                <label for="Basic_salary" class="text-light">Basic Salary
                </label>
             
                <input type="text" name="Basic_salary" value="" placeholder="Enter Basic Salary  ">

            </div>
            <div class="input inline text-light2">
                <label for="Employee_Grade" class="text-light">Grade
                </label>
               
                <input type="text" name="Employee_Grade" value="" placeholder="Grade">
            </div>


        </div>


        <div class="form-group">
            <div class="input inline">
                <label for="Nationality" class="text-light">Employee Number</label>
            
                <input type="text" name="Nationality" value="" placeholder="Nationality">


            </div>
            <div class="input inline text-light3" >
                <label for="StartOf_Contract" class="text-light">Start Of Contract</label>
              
                <input type="text" name="StartOf_Contract" value="" placeholder="Start Of Contract">
            </div>
            <div class="input inline text-light3">
                <label for="EndOf_Contract" class="text-light">End of Contract
                </label>
             
                <input type="text" name="EndOf_Contract" value="" placeholder="End of Contract">


            </div>
            <div class="input inline text-light3">
                <label for="YearOfExperience" class="text-light">Year Of Experience
                </label>
               
                <input type="text" name="YearOfExperience" value="" placeholder="Year Of Experience">
            </div>
        </div>


       



        <div class="form-group">
            <div class="input inline text-light4">
                <label for="Address" class="text-light">Address</label>
              
                <input type="text" name="Address" value="" placeholder="Enter Address">
            </div>
            <div class="input inline">
                <label for="Email" class="text-light">Email</label>
                <input type="text" name="email" value="" placeholder="example@gmail.com">
            </div>
            <div class="input inline">
                <label for="Phone " class="text-light">Phone
                </label>
               
                <input type="text" name="Phone" value="" placeholder="Enter Phone">
            </div>
        </div>






       
        <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male">
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female">
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active">
                <label for="radio-4" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inactive">
                <label for="radio-5" class="radio-label">Inactive</label>
            </div>
        </div>




        
        <div class="form-group ">
            <div class="input inline text-light5">
                <label for="EmployeeLinkedIn_profile" class="text-light">Employee LinkedIn profile</label>
               
                <input type="text" name="EmployeeLinkedIn_profile" value="" placeholder="Enter Employee LinkedIn profile">
            </div>
            <div class="input inline text-light5">
                <label for="EmployeeGithub_profile" class="text-light">Employee Github profile</label>
                <input type="text" name="EmployeeGithub_profile" value="" placeholder="Employee Github profile">
            </div>
           
        </div>



        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
